@media screen and (min-width: 768px) {
    #business_details .form-control{
		width: 75%;
		display: inline-block;
	}

	#business_details .btn{
		float: right;
	}

	#business_details .cps-wd-3{
		width: 19.333%;
	}

	#business_details .cps-wd-3 .form-control{
		width: 100%;
	}

	#business_details .cps-wd-1{
		padding-left: 0;
		width: 6%;
	}
}